@font-face {
    font-family: 'BLKCHCRY';
    src: url('../fonts/BLKCHCRY.ttf');
}

/*
.debug {
    outline: 1px dotted orange;
}
*/

body, html {
    height: 100%;
    width: 100%;
    min-width: 6em; 
}

html {
    font-size: 1rem;
}

body {
    color: #fff;

    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

footer {
    margin: auto auto 0 auto;
}

.background-container {
    width: 100%;
    height: 100%;
    /* Background image */
    background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("https://static1.squarespace.com/static/57cf18ae6b8f5ba693497e1a/5b00891e03ce6487dbd1eba6/5b0089228a922d8cabed2986/1526761765237/weddingblog115.jpg?format=1500w");
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("https://static1.squarespace.com/static/57cf18ae6b8f5ba693497e1a/5b00891e03ce6487dbd1eba6/5b0089228a922d8cabed2986/1526761765237/weddingblog115.jpg?format=1500w");

    background-attachment: fixed;
    background-position: 50% 50%; 
    background-repeat: no-repeat;
    background-size: cover;
    
    background-color: rgb(78, 78, 78);
}

.regal-font {
    font-family: 'BLKCHCRY';
}

/* different options handle underline differently */
/*
.word-guess-font {
    font-family: 'Segoe UI', sans-serif; 
    font-family: 'Lucida Grande', sans-serif; 
    font-family: 'BLKCHCRY';  
    font-family: inherit;
}
*/

.mark {
    background-color: rgba(150,137,65,.6);
}

#word-to-guess {
    padding: 0;
    line-height: 1.5;
}

.stats {
    font-size: 2rem;
    font-weight: 300;
    line-height: 1;
}

#guessed-letters {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

#press-any-key {
    line-height: 3em;
}

.top-row-buffer-lg { margin-top:50px; }
.top-row-buffer-md { margin-top:30px; }
.top-row-buffer-sm { margin-top:20px; }

/*
#canvas {
    display: none;
    background:transparent;
    cursor: crosshair;
	display: block;
}
*/

#overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /*background-color: rgba(0,0,0,0.5);*/
    background: transparent;
    z-index: 2;
    cursor: pointer;
}

/**************************************
** Media queries
**************************************/

/*** RESPONSIVE TOPOGRAPHY ***/

/* Extra small devices (portrait phones, less than 576px) */
/* No media query for `xs` since this is the default in Bootstrap */
@media (max-width: 575px) {  
    html {
        font-size: .7rem;
    }
}

 /* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {  
    html {
        font-size: .8rem;
    }
}

 /* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {  
    html {
        font-size: 1.0rem;
    }
}

 /* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {  
    html {
        font-size: 1.2rem;
    }
}

 /* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  

}

